{% extends "template.html.twig" %}
{% block body %}
	<h1 class="mt-5">Dernières sorties</h1>
	<div class="row">
		{% for movie in movies %}
			<div class="col-md-4 mb-3">
				<div class="card">
				<img src="{{baseUrl}}/assets/img/affiches/{{movie.affiche}}" class="card-img-top" alt="..." style="height:450px">
					<div class="card-body">
						<h5 class="card-title">{{movie.titre}}</h5>
						<p class="card-text">{{movie.synopsis|u.truncate(200,'...',false)}}</p>
						<a href="{{baseUrl}}/movie/{{movie.id}}" class="btn btn-warning">En savoir plus</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}