<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Accueil
			{% endblock %}
		</title>
		{% block stylesheet %}
			<link rel="stylesheet" href="{{baseUrl}}/assets/scss/dist/custom.css">
			<link rel="stylesheet" href="{{baseUrl}}/assets/css/style.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% endblock %}
	</head>
	<body>
		{% block navigation %}
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="{{baseUrl}}">LOGO</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">
								<i class="fa fa-home"></i>
								Accueil
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-users"></i>
								Acteurs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-user-secret"></i>
								Réalisateurs</a>
						</li>

					</ul>

					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{baseUrl}}/login">
								<i class="fa fa-sign-in"></i>
								Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{baseUrl}}/register">
								<i class="fa fa-user-plus"></i>
								Inscription</a>
						</li>
					</ul>
				</div>
			</nav>
		{% endblock %}
		<div class="container"> {% block body %}{% endblock %}
			</div>
			{% block js %}
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
			{% endblock %}
		</body>
	</html>
